/* BODY */

body{
    margin: 0;
    padding: 0;
}

/* MAIN CONTAINER */

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 300px 345px;
}

/* HEADER */


.header{

    grid-column: 1/3;
    grid-row:1/2;
    max-height: 100px;
    background-color:#272932;
    color: #3f7cac;


    display: flex;
    justify-content: center;
    align-items: center;
}

/* SIDEBAR */


.sidebar{

    grid-row: 2/4;
    background-color: #3f7cac;
    color: #272932;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}


.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
}

hr{
    margin-top: 20px;
    border: 2px solid #272932;
    width: 250px;
}

/* PROJECT FORM */

.project-form{

    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid #272932;
    border-radius: 10px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #3f7cac;
    color: white;
    font-family: sans-serif;
    font-weight: 800;


}

.project-form > button{
    background-color: #272932;
    border: 1px solid white;
    color: white;
    font-weight: 800;
    padding: 7px;
}


/* PROJECT STUFF */

.add-project{

    margin-left: 0px;
    font-family: sans-serif;
    font-weight: 800;
    color: #3f7cac;
    background-color: #272932;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 10px;
}

.project-name{

    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: auto;
    font-family: sans-serif;
    font-weight: 800;
    color: #3f7cac;
}

.project-title{
    margin: 0;
    margin-left: -15px;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    
}

.project-title-hover:hover{

    border: 2px solid #272932;
    border-radius: 10px;

    cursor: pointer;
    background-color: #017F71;
}

.new-div{
    margin: 0;
    margin-left: 1100px;
    margin-top: -30px;
    width: auto;
    position: relative;


}


/* TODO FORM and STUFF */

.todo-form{

    border: 7px solid #272932;
    background-color: #3f7cac;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1000px;
    height: 60px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 100px;

    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;

}

.task-div{

    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 7px;
    border: 5px solid #272932;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 4px;
    width: 1000px;
    height: 60px;
    background-color: #3f7cac;
    color: #272932;
    font-family: sans-serif;
}

.task-div > h2 {
    margin-right: 13px;
}

.task-div > p{
    margin-top: 25px;
}

.task-div > ul{
    margin: 0;
}

.add{

    background-color: #272932;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}

.button-add{

    background-color: #3f7cac;
    border: 2px solid #272932;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}   

.delete-button{

    border: 2px solid #272932;
    border-radius: 7px;
    background-color: #db3a34;
    color: white;
    font-family: sans-serif;
    font-weight: 800;

}

.complete-button{
    border: 2px solid #272932;
    border-radius: 7px;
    background-color: green;
    font-family: sans-serif;
    font-weight: 800;
    color: white;

}

.edit-form{

    display: flex;
    gap: 20px;
    align-items: center;
}

.edit-form > button{

    border: 2px solid #272932;
    border-radius: 5px;
    background-color: green;
    font-family: sans-serif;
    font-weight: 800;
    color: white;

}

.edit-task-button{

    border: 2px solid #272932;
    border-radius: 7px;
    background-color: yellow;
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}

.edit-form > label{

    font-family: sans-serif;
    font-weight: 800;
}

.edit-form > input,
.edit-form > select{

    border: 2px solid #272932;
    border-radius: 5px;

}


/* MISCELLANEOUS */

.line {

    background-color: lightsalmon;
    text-decoration: line-through;
}




